<!doctype html>

<style>
  body { text-align: center; }
  img { vertical-align: middle; }
  #nav a { padding: 0 2em; }
</style>

<title>Satoshi Auction</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Current Auctions</a> <a href="/auctions">Past Auctions</a> <a href="/rules">Rules</a></p>

<h1><img src="/hammer.png" width="512px"/></h1>

<h2>About</h2>

<p>The source code for this host is <a href="https://github.com/jackmurray90/satoshi-auction">open source</a> and we are hosted by Google Cloud.</p>

<p>The Satoshi Auction concept is based on the game of <a href="https://coinballer.net">Coinballer</a>.</p>

<p>This host is operated by <a href="https://murray.software/">Jack Murray</a>.</p>

<p>There is a <a href="https://bitcointalk.org/index.php?topic=5432487">thread</a> about this site on bitcointalk.org.</p>
