<!doctype html>

<style>
  body { text-align: center; }
  img { vertical-align: middle; }
  #nav a { padding: 0 2em; }
</style>

<title>Satoshi Auction</title>

<p id="nav"><a href="/">Current Auctions</a> <a href="/auctions">Past Auctions</a> <a href="/rules">Rules</a></p>

<h1><img src="/hammer.png" width="100px"/> About Satoshi Auction</h1>

<p>The source code for this host is <a href="https://github.com/jackmurray90/satoshi-auction">open source</a> and we are hosted by Google Cloud.</p>

<p>This host is operated by <a href="https://murray.software/">Jack Murray</a>, a software engineer who lives in Melbourne, Australia.</p>

<p>The Satoshi Auction concept is based on the game of <a href="https://coinballer.net">Coinballer</a>.</p>

