<!doctype html>
<style>
  body { text-align: center; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  img { vertical-align: middle; }
  a, a:visited, a:hover { color: #d45500; text-decoration: none; }
  #nav a { padding: 0 2em; }
</style>

<title>Satoshi Auction</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Current Auctions</a> <a href="/auctions">Past Auctions</a> <a href="/rules">Rules</a> <a href='/about'>About</a></p>

<h1><img src="/hammer.png"/></h1>

<h2>Past Auctions</h2>

<table>
  <tr><th>Auction</th><th>Prize</th><th>Maximum bid</th></tr>
  {% for auction in auctions %}
  <tr>
    <td><a href="/auction/{{ auction['auction_id'] }}">Auction {{ auction['auction_id'] }}</a></td>
    <td>{{ auction['prize']|format_decimal(8) }} BTC</td>
    <td>{{ auction['maximum_bid']|format_decimal(8) }} BTC</td>
  </tr>
  {% endfor %}
</table>
