<!doctype html>
<style>
  body { text-align: center; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  img { vertical-align: middle; }
  #nav a { padding: 0 2em; }
</style>

<title>Satoshi Auction</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/">Current Auctions</a> <a href="/auctions">Past Auctions</a> <a href="/rules">Rules</a> <a href="/about">About</a></p>

<h1><img src="/hammer.png" width="512px"/></h1>

<h2>Game {{ auction_id }}</h2>

<p>Please allow 5 confirmations before your transaction will appear on the site.</p>

<table>
  <tr><th>Prize</th><td>{{ prize|format_decimal(8) }} BTC</td></tr>
  <tr><th>Bidding address</th><td><a href="https://www.blockchain.com/explorer/addresses/btc/{{ address }}">{{ address }}</a></td></tr>
  <tr><th>Blocks until end of auction</th><td>{{ countdown }}</td></tr>
</table>

<h2>Participants</h2>
<table>
  <tr><th>Participant payout address</th><th>Bid</th></tr>
  {% for participant in participants %}
    <tr>
      <td><a href="https://www.blockchain.com/explorer/addresses/btc/{{ participant['payout_address'] }}">{{ participant['payout_address'] }}</a></td>
      <td>{{ participant['bid']|format_decimal(8) }} BTC</td>
    </tr>
  {% endfor %}
</table>
