<!doctype html>
<style>
  body { text-align: center; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  img { vertical-align: middle; }
</style>

<title>Satoshi Auction</title>

<h1><img src="/hammer.png" width="100px"/> Satoshi Auction {{ auction_id }}</h1>

<p>Bidding address: {{ address }}</p>

<p>Deadline: {% if deadline %}Block {{ deadline }}{% else %}Finished{% endif %}</p>

<table>
  <tr><th>Participant payout address</th><th>Bid</th></tr>
  {% for participant in participants %}
  <tr><td>{{ participant['payout_address'] }}</td><td>{{ '%0.8f'|format(participant['bid']) }} BTC</td></tr>
  {% endfor %}
</table>
