<!doctype html>

<title>Coinballer</title>

<h1>Coinballer</h1>

<p>Welcome to the game of Coinballer, the big dick swinging gambling game.</p>

<p>In this game, up to 100 players are gambling on who has more resources.</p>

<h2>Rules</h2>

<p>The rules are simple.</p>

<p>Players can make a bet or raise their bet at any time.</p>

<p>The game ends when 144 bitcoin blocks, approximately 24 hours, have passed without a raise.</p>

<p>The player who has contributed the most money to the pool at the end of the game wins the whole pot, minus a small 2% fee for the host.</p>

<h2>Setup</h2>

<p>To set up a game, you will need to be familiar with running a program on the command-line or in Terminal, although players will not need this functionality to play.<p>

<p>You can download the command-line client <a href="/coinballer">here</a>.</p>

<p>To start a new game, the command is ./coinballer new_game &lt;player 1 address&gt; &lt;player 2 address&gt; ...</p>

<p>For games with large numbers of players, place the addresses in players.txt one per line and run ./coinballer new_game players.txt</p>

<p>This command will provide a URL with the addresses and bets for participants to play with.</p>

<p>To make a bet players must send the appropriate amount of bitcoin to their betting address.</p>

<h2>About</h2>

<p>The source code for this host is <a href="https://github.com/jackmurray90/coinballer">open source</a> and we are hosted by Google Cloud.</p>

<p>To date this host has had {{ total_games }}, {{ empty_games }} of which nobody bet anything.</p>

<p>The maximum bet in any game was {{ maximum_bet }} and the maximum pool size was {{ maximum_pool }}.</p>

<p>This host is operated by <a href="https://murray.software/">Jack Murray</a>, a software engineer who lives in Melbourne, Australia. I also operate <a href="https://tradeapi.net">a small cryptocurrency exchange</a>.</p>

<p>On the team is also an AI.</p>

<p>This game was invented by Julian Roetzer, a penetration tester, business person and security researcher who lives in Canberra, Austraila.</p>
