<!doctype html>

<title>Coinballer</title>

<h1>Coinballer</h1>

<p>Welcome to the game of Coinballer.</p>

<h2>Rules</h2>

<p>In this game, up to 100 players are gambling on who has more resources.</p>

<p>Players can make a bet or raise their bet at any time.</p>

<p>The game ends when 144 bitcoin blocks have passed without a raise. This will take appoximately one day.</p>

<p>The player who has contributed the most money to the pot at the end of the game wins the whole pot, minus a small 2% fee for the host.</p>

<p>In the case of tie, funds are distributed equally and any fractional remainder is left with the host.</p>

<p><a href="/new_game">Click here to start a new game</a>.</p>

<h2>About this host</h2>

<p>The source code for this host is <a href="https://github.com/jackmurray90/coinballer">open source</a> and we are hosted by Google Cloud.</p>

<p>To date we have hosted {{ total_games }} games.</p>

<p>This host is operated by <a href="https://murray.software/">Jack Murray</a>, a software engineer who lives in Melbourne, Australia. I also operate <a href="https://tradeapi.net">a small cryptocurrency exchange</a>.</p>

<p>This game was invented by Julian Roetzer, a penetration tester, business person and security researcher who lives in Canberra, Austraila.</p>
