<!doctype html>
<style>
  table { border-collapse: collapse; margin: 1em; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  ul, li { margin: 0; }
</style>

<title>Coinballer</title>

<h1>Coinballer game {{ game_id }}</h1>

<p>Greetings, welcome to Coinballer.</p>

<p>Thanks for making a new game with us and we hope you will enjoy the experience.</p>

<p>Players can check the status of the game at <a href="/game/{{game_id}}">https://coinballer.net/game/{{game_id}}</a>.</p>

<p>The rules can be read <a href="/">here</a>.</p>

<p>Please share this with the players to commence the game.</p>

<p>We wish you the best of luck.</p>

<p>The last bet for this game was at block height {{ height }}.</p>

<h2>Players</h2>

<table>
  <tr><th>Betting address</th><th>Payout address</th><th>Total bet</th></tr>
  {% for player in players %}
  <tr><td>{{ player['betting_address'] }}</td><td>{{ player['payout_address'] }}</td><td>{{ '%0.8f'|format(player['bet']) }} BTC</td></tr>
  {% endfor %}
</table>
