<!doctype html>

<style>
  body { text-align: center; }
  img { vertical-align: middle; }
</style>

<title>Satoshi Auction</title>

<h1><img src="/hammer.png" width="100px"/> Satoshi Auction</h1>

<p>Welcome to Satoshi Auction. Click <a href="/auctions">here</a> to see a list of auctions we host.</p>

<h2>Rules</h2>

<p>The prize starts off as 10k satoshis.</p>

<p>Anybody can make a bid for the prize, at any time.</p>

<p>98% of each bid is added to the prize.</p>

<p>The auction ends when 144 bitcoin blocks have passed without a bid. This will take appoximately one day.</p>

<p>The participant who has made the maximum bid wins the prize.</p>

<p>In the case of tie, funds are distributed equally and any fractional remainder is left with the host.</p>

<h2>About</h2>

<p>The source code for this host is <a href="https://github.com/jackmurray90/satoshi-auction">open source</a> and we are hosted by Google Cloud.</p>

<p>This host is operated by <a href="https://murray.software/">Jack Murray</a>, a software engineer who lives in Melbourne, Australia.</p>

<p>The Satoshi Auction concept is based on the game of <a href="https://coinballer.net">Coinballer</a>.</p>
