<!doctype html>

<style>
  body { text-align: center; }
  img { vertical-align: middle; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  #nav a { padding: 0 2em; }
</style>

<title>Satoshi Auction</title>

<p id="nav"><a href="https://decision.casino/"><img src="/yin-yang.png" width="32px"/></a> <a href="/auctions">Past Auctions</a> <a href="/rules">Rules</a> <a href="/about">About</a></p>

<h1><img src="/hammer.png" width="512px"/></h1>

<p>Welcome to Satoshi Auction.</p>

<p>Payout will be returned to the address that sent the maximum bid. Please ensure you make a bid from an address you control.</p>

<p>Please allow 6 confirmations before your transaction will appear on the site.</p>

<table>
  <tr><th>Auction</th><th>Prize</th><th>Maximum bid so far</th><th>Deadline</th><th>Address</th></tr>
  {% for auction in auctions %}
  <tr>
    <td><a href="/auction/{{ auction['auction_id'] }}">Auction {{ auction['auction_id'] }}</a></td>
    <td>{{ auction['prize']|format_decimal(8) }} BTC</td>
    <td>{{ auction['maximum_bid']|format_decimal(8) }} BTC</td>
    <td>Block {{ auction['deadline'] }}</td>
    <td><a href="https://www.blockchain.com/explorer/addresses/btc/{{ auction['address'] }}">{{ auction['address'] }}</a></td>
  </tr>
  {% endfor %}
</table>
