<!doctype html>
<style>
  table { border-collapse: collapse; margin: 1em; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  ul, li { margin: 0; }
</style>
<h1>CoinBaller status for game {{ game_id }}</h1>
<p>Last bet was at block height {{ height }}.</p>
<table>
  <tr><th>Betting address</th><th>Payout address</th><th>Total bet</th></tr>
  {% for player in players %}
  <tr><td>{{ player['betting_address'] }}</td><td>{{ player['payout_address'] }}</td><td>{{ player['bet'] }}</td></tr>
  {% endfor %}
</table>
